.jumbotron {
  padding-top: 6rem;
  background-color: rgb(38, 231, 238);
}

#hobby {
  background-color: rgb(38, 231, 238);
}

#Galeri {
  background-color: rgb(38, 231, 238);
}

section {
  padding-top: 5rem;
}
